<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block l  %} Simple File Upload {% endblock %}</title>
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>

  {% block css %}  {% endblock %}

</html>
