<!DOCTYPE html>
<html lang="en">
<title>ระบบวิเคราะห์แบ่งผู้เป็นโรคอัลไซเมอร์แลไม่เป็นอัลไซเมอร์ จากภาพ ถ่าย MRI</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
  body {
    font-family: "Lato", sans-serif
  }
  .button {
    display: inline-block;
    border: 2px solid #fff;
    padding: 10px 20px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
  }
  .zxc {
    display: inline-block;
    border: 2px solid #000;
    padding: 10px 20px;
  }
  p {
    text-align: left;
    text-size-adjust: 100%;
  }
</style>

<body>
  <!-- topics -->
  <div class="w3-top">
    <div class="w3-bar w3-black w3-card">
      <a class="zxc">ระบบวิเคราะห์แบ่งผู้เป็นโรคอัลไซเมอร์แลไม่เป็นอัลไซเมอร์ จากภาพ ถ่าย MRI</a>
    </div>
  </div>




  <div class="w3-content" style="max-width:2600px;margin-top:46px">




    <!-- main -->
    <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:900px">
      <div id="myDIV"  style="display:block">
        <img class="w3-half" src={{x.uploaded_file_url}} style="width:25%">

        <div class="w3-half"  style="margin-left: 30px">
          <p class="w3-wide">พื้นที่สมอง = {{ x.Brain_Per_All }} % </p>
          <p class="w3-wide">พื้นที่แกนสมอง = {{ x.Hole_Pre_Brain }} % </p>
          <p class="w3-wide">ผลลัพท์ = {{ x.ans }}</p>
        </div>
      </div>




      <!-- upload -->
      <div class="w3-container w3-content w3-center w3-padding-64" >
        <form method="post"  enctype="multipart/form-data">
          {% csrf_token %}
          <input class="button" type="file" name="myfile">
          <button  class="button"  onclick="test()" type="submit">อัพโหลด</button>
        </form>
      </div>



      <div >

        <div class="w3-half">
          <h1>จุดประสงค์</h1>
          <div>
            <p>1.เพื่อสามารถวิเคราะห์ภาพถ่ายทางสมองจากภาพ MRI ได้ว่าเป็นอัลไซเมอร์หรือไม่</p>
          </div>
          <div>
            <p>2.เพื่อจำแนกภาพถ่ายว่าเป็นอัลไซเมอร์ระดับเพื่อจำแนกภาพถ่ายว่าเป็นอัลไซเมอร์ระดับใด</p>
          </div>
          <div>
            <p>3.เพื่อประยุกต์ขั้นตอนวิธี มาใช้ในการคำนวณเพื่อเปรียบเทียบภาพถ่เพื่อสามารถวิเคราะห์ภาพถ่ายทางสมองจากภาพ
            </p>
          </div>
        </div>

        <div class="w3-half">
          <h1>เกณฑ์การประเมินผล</h1>
          <div>
            <p>1.พื้นที่สมองประมาณ 63.24 % ทีผลเท่ากับไม่เป็นโรคอัลไซเมอร์</p>
          </div>
          <div>
            <p>2.พิ้นที่แกนสมองประมาณ 3.90 % ทีผลเท่ากับไม่เป็นโรคอัลไซเมอร์</p>
          </div>
          <div>
            <p>3.พื้นที่สมองและแกนสมองที่สัมพันธ์กัน</p>
          </div>
        </div>

      </div>


    </div>


    <!-- Footer -->
    <footer class="w3-container w3-padding-64 w3-center w3-opacity w3-light-grey w3-xlarge">
    </footer>

  <!-- script -->
    <script>
      function test() {
          var x = document.getElementById("myDIV");
          if (x.style.display === "none") {
            x.style.display = "block";
          }
      }

    </script>

</body>

</html>
