{% extends 'base.html' %}

{% load static %}

{% block l  %} simple_upload {% endblock %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="myfile">
    <button type="submit">Upload</button>
  </form>

  {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}

  <p><a href="{% url 'home' %}">Return to home</a></p>
  {{x}}
  <h1>{{ x.name }}</h1>
  <h1>{{ x.ans }}</h1>
  <h1>{{ x.uploaded_file_url }}</h1>
{% endblock %}
